<p><b>Dear {{ firstName }} {{ lastName }},<b></p>

<p>Thank you for your email. We have received it and are currently working on providing you with a response as soon as possible.<p>
<p>Your patience is greatly appreciated.</p>

<p>Best regards, trip-app team</p>